@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --background: #556467;
  --main-bg-color: #3B4547;
  --text-color: #FFFDF7;
  --text-span: #99AAAE;
  --title: #F5CC00;
  --title-color: #35D6F2;
  --corner: 8px;
}

* {
    font-family: 'Ubuntu Mono', monospace;
    transition: .4s ease;
}

body {
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    justify-content: space-between;
}

.home-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100vw;
}

.header {
    align-self: center;
    color: var(--title-color);
    font-size: 2.8em;
    text-decoration: none;
}

.sub-title {
    font-size: 1em;
    margin: 2%;
}

.chat-box {
    background-color: var(--background);
    border-radius: var(--corner);
    height: 50vh;
    overflow-y: scroll;
    width: 60vw;
}

.messages {
    background-color: var(--text-span);
    border-radius: var(--corner);
    padding: 1em 1em;
    margin: 2%;
    word-break: break-all;
}

.send-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    width: 60vw;
}

#message {
    border-radius: var(--corner);
    background-color: var(--background);
    border: none;
    color: var(--text-color);
    font-size: 1.2em;
    padding: 2%;
    width: 90%;
    margin-right: 2%;
}

#sendBtn {
    border-radius: var(--corner);
    border: none;
    background-color: var(--title);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    font-style: italic;
    width: 100px;
}


@media screen and (max-width: 800px) {
    .chat-box {
        width: 90vw;
    }

    .send-message {
        width: 90vw;
    }
}