@import "main.css";

.post-form {
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: 1fr 3fr;
    row-gap: 1em;
    width: 25vw;
}

.post-form input {
    color: var(--text-color);
    background-color: var(--background);
    border: none;
    border-radius: var(--corner);
    padding: 0.8em;
}

.post-form img {
    width: 100%;
    grid-column-end: 3;
    grid-column-start: 1;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons input {
    background-color: var(--title);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    width: 30%;
}
.buttons #create {
    align-items: center;
    background-color: var(--title-color);
    border: none;
    border-radius: var(--corner);
    color: var(--background);
    cursor: pointer;
    display: flex;
    font-weight: bold;
    justify-content: center;
    width: 60%;
}

@media screen and (max-width: 800px) {
    .post-form {
        margin-top: 3em;
    }

    .post-form {
        grid-template-columns: 1fr 4fr;
        width: 70vw;
    }

    .post-form {
        padding: 1.1em;
    }
}
