@import "main.css";

body {
    background: linear-gradient(0deg, rgba(59,71,64,1) 0%, rgba(85,103,92,1) 100%);
    height: 100vh;
}

.error {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
}

.error-title {
    align-self: end;
    color: var(--title);
    font-size: 3em;
    font-weight: bold;
}

.error-number {
    align-self: end;
    background-color: var(--text-span);
    border-radius: var(--corner);
    color: var(--text-color);
    display: flex;
    font-size: 1em;
    font-weight: normal;
    justify-content: center;
    margin-top: 2%;
    padding: 2px;
    width: 100px;
}

img {
    border-radius: var(--corner);
    object-fit: contain;
    width: 100%;
    max-height: 40vh;
    margin: 6% 0 6% 0;
}

.back {
    align-self: center;
    background-color: var(--title-color);
    color: var(--text-color);
    border-radius: var(--corner);
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    padding: 2%;
    text-decoration: none;
}

@media screen and (max-width: 800px) {

}