@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --background: #555B67;
  --main-bg-color: #3B3F48;
  --text-color: #FFFDF7;
  --text-span: #979FAD;
  --title: #FE723D;
  --title-color: #5B91F8;
  --corner: 8px;
}

* {
    font-family: 'Ubuntu Mono', monospace;
    transition: .4s ease;
}

body {
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    justify-content: space-between;
}

.home-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100vw;
}

.header {
    align-self: center;
    color: var(--title-color);
    font-size: 2.8em;
    text-decoration: none;
}

.sub-title {
    font-size: 1em;
    margin: 2%;
}