@import "main.css";

.create-btn {
    background-color: var(--title-color);
    border: none;
    border-radius: var(--corner);
    cursor: pointer;
    font-size: 1.2em;
    height: 5vh;
    width: 200px;
}

.post-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.posts {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.post {
    background-color: var(--background);
    border-radius: var(--corner);
    box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 30vh;
    margin-bottom: 2em;
    max-height: 200px;
    max-width: 650px;
    padding: 0.5em;
    width: 50vw;
}

.post-image {
    height: 100%;
    max-height: 140px;
    object-fit: cover;
    width: 100%;
}

.post-left {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    max-height: inherit;
}

.post-poster {
    color: var(--title);
    font-size: 1.1em;
    margin: 0;
}

.post-id {
    align-self: center;
    color: var(--text-span);
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
}

.post-right {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    max-height: inherit;
}

.post-title {
    color: var(--title);
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-body {
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-left: 5%; 
    text-overflow: ellipsis;
    text-align: left;
}

.post-date {
    align-self: center;
    color: var(--text-span);
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .post {
        width: 80vw;
    }
}
