@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --background: #55675C;
  --main-bg-color: #3B4740;
  --text-color: #FFFDF7;
  --text-span: #8C9790;
  --title: #FF8D63;
  --title-color: #9FE57A;
  --link: #FFD812;
  --corner: 8px;
}

* {
    font-family: 'Ubuntu Mono', monospace;
    transition: .4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    justify-content: space-between;
    overflow-x: clip;
}

.home-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100vw;
}

.header-space {
    visibility: hidden;
}

.header {
    align-self: center;
    color: var(--title-color);
    font-size: 2.8em;
    text-decoration: none;
}

.paja-chat {
    background-color: #35D6F2;
    border-radius: var(--corner);
    color: var(--text-color);
    padding: 0.5em;
    width: max-content;
    place-self: center;
    min-width: 80px;
}

.sub-title {
    font-size: 1em;
    margin: 2%;
}

#gotop {
    background-color: var(--title-color);
    border-radius: var(--corner);
    bottom: 5%;
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 1.5em;
    justify-content: center;
    position: fixed;
    right: 50;
    padding: 0.5em;
    user-select: none;
    width: 100px;
}
