@import "main.css";

.post {
    display: grid;
    row-gap: 1em;
    max-width: 1100px;
    width: 80vw;
}

.title {
    color: var(--title);
    display: grid;
    font-weight: bold;
    font-size: 1.2em;
    grid-template-columns: 1fr 6fr;
    margin: 0;
}

.post-title {
    place-self: center;
}

.body {
    display: grid;
    font-weight: normal;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
}

.body img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-text {
    padding-left: 5%;
    font-size: 1.1em;
}

.information {
    color: var(--text-span);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
}

.make-comment {
    height: 100px;
    max-width: inherit;
    margin-bottom: 5%;
    width: inherit;
}

.post-comment {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: end;
    max-width: 100%;
    width: inherit;
    color: red;
}

#preview {
    max-width: 25%;
    object-fit: contain;
}

.comment-text {
    border: none;
    background-color: var(--background);
    border-radius: var(--corner);
    color: var(--text-color);
    margin: 0 2% 0 2%;
    padding: 1%;
    resize: none;
}

.comment-btns {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-around;
    width: 10%;
}

.comment-btns input {
    border: none;
    border-radius: var(--corner);
    background-color: var(--title);
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
    padding: 10%;
}
.comment-btns #create {
    background-color: var(--title-color);
    border: none;
    border-radius: var(--corner);
    color: var(--background);
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10%;
}

.comments {
    background-color: var(--background);
    border-radius: var(--corner);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 60%;
}

.comment-title {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 1.3em;
    justify-content: space-between;
}

.comment-poster {
    color: var(--title);
    font-style: italic;
    margin: 0;
}

.comment-date {
    color: var(--text-span);
    margin: 0;
}

.comment-body {
    display: flex;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2% 0 2% 0;
}

.comment-image {
    width: 50%;
}

.comment-image img {
    width: inherit;
}

.green-text { 
    color: var(--title-color);
}

.link-text {
    color: var(--link);
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .comments {
        padding: 2%;
        width: 100%;
    }

    .comment-title {
        font-size: 1.1em;
    }

    .post-comment {
        justify-content: space-between;
        width: inherit;
    }

    .comment-text {
        margin: 0 1% 0 1%;
        width: 50%;
    }

    .comment-btns {
        width: 18%;
    }
    
    .comment-image {
        width: 65%;
    }
}